body {
    font-family: Cantarell, sans-serif;
    font-size: 17px;
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

header.top {
    position: fixed;
    color: var(--secondary-color);
    height: var(--header-height);
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: #241f31;
}

header.top>div,
.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-width);
    height: var(--header-height);
    margin: auto;
    padding: 0 var(--content-padding);
    box-sizing: border-box;
}

header.top>div nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: var(--header-height);
}

header.top>div a {
    color: var(--secondary-color);
}

header.top>div nav>ul>li a {
    display: flex;
    border-radius: 7px;
    padding: .7em 1em;
    font-weight: bold;
    margin-inline-start: 6px;
    text-decoration: none;
}

header.top>div nav>ul>li a:hover {
    background: #3d3846;
}

.root-intro,
#intro {
    padding: 90px 10px 60px;
    margin-bottom: 60px;
    background: #241f31;
    color: var(--secondary-color);
}

.content a {
    color: var(--link-color);
    text-decoration: none;
}

.special {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    padding: calc(30px + 1em) 20px calc(40px + 1em);
    text-align: center;
    background: linear-gradient(180deg, var(--header-color), var(--background-color));
}

.special h2 {
    font-size: 45px;
}

.special small {
    font-size: 18px;
    color: var(--header-second-color);
}

.special>div {
    max-width: 500px;
}

section {
    padding: 0 var(--content-padding) 30px;
    box-sizing: border-box;
    margin: auto;
    max-width: var(--content-width);
}

section.small {
    max-width: 690px;
}

section.dsmall {
    max-width: 790px;
}

ul.intros {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    column-gap: 30px;
    row-gap: 10px;
    padding: 0;
    margin: 0;
}

ul.intros>li>a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    hyphens: auto;
    padding: 20px 15px;
    height: 100%;
    border-radius: 7px;
}

ul.intros>li>a:hover,
.hov-on:hover {
    background: var(--tile-hover-color);
    filter: none;
}

ul.intros>li>a b {
    color: var(--text-color);
    display: block;
    font-size: 1.2em;
    padding-bottom: .2em;
    font-weight: normal;
    word-wrap: break-word;
}

ul.intros>li>a small {
    font-size: 16px;
    color: var(--header-second-color);
}

footer {
    background: #000;
    color: #deddda;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 70px;
}

footer>.list{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.buttons {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.buttons .text-button,
.buttons .text-button:visited {
    display: flex;
    background-color: var(--background-color);
    transition: .3s background-color;
    padding: 1em;
    color: var(--text-color);
    border-radius: 7px;
}

.buttons .text-button .icon,
.buttons .text-button:visited .icon {
    filter: var(--light-shadow);
    margin-inline-end: 20px;
    border-radius: 50%;
    background: var(--primary-color);
    padding: 10px;
    height: 24px;
    width: 24px;
}

.buttons .text-button:hover,
.buttons .text-button:visited:hover {
    background-color: var(--tile-hover-color);
    color: var(--text-color);
    filter: none;
}

.buttons .text-button h4,
.buttons .text-button:visited h4 {
    margin: 0 0 3px;
}

.buttons .text-button .icon svg,
.buttons .text-button:visited .icon svg {
    color: var(--svg-second-color);
    overflow: visible;
    height: 24px;
    width: 24px;
}

.block {
	padding: 1em 1.2em;
	border: none;
	border-radius: 1em;
	background: var(--block-backgroundp-color);
	color: var(--block-color);
	overflow-wrap: break-word;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.03), 0 1px 3px 1px rgba(0,0,0,0.07), 0 2px 6px 2px rgba(0,0,0,0.03);
}

@media(max-width:700px) {
    header.top>div nav a {
        padding-left: .5em !important;
        padding-right: .5em !important;
    }

    header.top>div .logo {
        display: none;
    }
}
@media(min-width: 900px) {
    .block{
        padding: 1.6em 1.9em;
    }
}